.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bookings {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.venues {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 250px;
}